.top
{
   color: lightslategrey;
   background-color:rgb(175, 28, 180);
   padding-top:20px;
   padding-left:20px;
   margin-top: -10px;
   margin-left: -7px;
   font-size: 60px;  
   height: 40px;
}
.shop
{
     color: black;
     background-color:rgb(175, 28, 180);
     margin-top: 50px;
     height: 200px;
     margin-left: -7px;
}
.txt
{
    color: white;
    margin-top: -265px;
    margin-left: -90px;
    font-size: 40px;
}
.img
{
    margin: 100px;
    padding-top: 100px;
}
.image
{
      float: left;
      margin: 70px;
      box-shadow:2px 2px 5px 5px;
      color:rgb(175, 28, 180);
      border-radius: 20px;
}
.image1
{
     float: left;
     margin: 70px;
     box-shadow:2px 2px 5px 5px;
     color:rgb(175, 28, 180);
     border-radius: 20px;
}
.image2
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image3
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image4
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image5
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image6
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image7
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}
.image8
{
    float: left;
    margin: 70px;
    box-shadow:2px 2px 5px 5px;
    color:rgb(175, 28, 180);
    border-radius: 20px;
}